@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Test Web Application</h1>
    <p class="lead">This site is just for test purpose.</p>
    <p>&nbsp;</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Download Test</h2>
        <p>
            <ul>
                <li>
                    <a href="@Url.Content("~/Downloads/D01.docx")">Test Word File</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Downloads/B01.xlsx")">Test Excel File</a>
                </li>
                <li>
                    <a href="@Url.Content("~/Downloads/P01.pptx")">Test PowerPoint File</a>
                </li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
    <div class="col-md-4">
        <h2>&nbsp;</h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </div>
</div>